<div id="analytics">
  <h1>Analytics for <%= link_to @short_link.short_link, @short_link.original_link %></h1>

  <div class="stats">
    <div class="stat">
      <span class="label">Total Clicks</span>
      <span class="value"><%= @click_count %></span>
    </div>
    <div class="stat">
      <span class="label">Unique Visitors</span>
      <span class="value"><%= @unique_ips %></span>
    </div>
  </div>

  <h2>Clicks Over Time</h2>
  <%= turbo_frame_tag "clicks_chart" do %>
    <div data-controller="chart">
      <canvas data-chart-target="canvas"
              data-clicks="<%= @clicks_by_day.to_json %>">
      </canvas>
    </div>
    
    <div data-controller="donut" class="relative h-64 w-full">
      <canvas data-donut-target="canvas"
              data-unique="<%= @unique_ips %>"
              data-total="<%= @click_count %>">
      </canvas>
    </div>
  <% end %>
</div>