<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-adsense-account" content="ca-pub-4116671122586959">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class="flash success"><%= flash[:success] %></div>
    <% end %>

    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
