<!DOCTYPE html>
<html>
  <head>
    <title>Yintii | UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-adsense-account" content="ca-pub-4116671122586959">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <!-- rails-ujs via asset pipeline (UMD) so data-method works -->
    <%= javascript_include_tag 'rails-ujs', 'data-turbo-track': 'reload' %>
    <!-- Importmap for Rails/Stimulus -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class="flash success"><%= flash[:success] %></div>
    <% end %>

    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
    <% end %>

    <header>
      <div id="brand">
        <%= link_to "Yintii", root_path %>
      </div>
      <div id="menu" class="flex flex-end" data-controller="navbar">
        <div id="hamburger-menu" data-action="click->navbar#toggle">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </div>
        <nav 
          class="hidden flex column bg-blue-yintii m-1 p-1 rounded-corners"
          data-navbar-target="menu"
          >
          <%= link_to "Terms of Service", "#" %>
          <%= link_to "About", "#" %>
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </nav>
      </div>
    </header>

    <% if current_page?(root_path) %>
      <% if user_signed_in? %>
        <h2 id="greeting">Hello, <%= current_user.email %></h2>
      <% else %>
        <div class="bg-blue container column">
          <h2>Want to save your links?</h2>
          <p>Make an account and we'll save your history</p>
          <%= link_to "Sign Up", new_user_registration_path, class: "bg-blue-yintii p-1 rounded-corners"  %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>

